<%= form_for(@medcamp) do |f| %>
  <% if @medcamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medcamp.errors.count, "error") %> prohibited this medcamp from being saved:</h2>

      <ul>
      <% @medcamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :organiser %><br>
    <%= f.text_area :organiser, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :contact %><br>
    <%= f.text_area :contact, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.text_area :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :info %><br>
    <%= f.text_area :info, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
