<p id="notice"><%= notice %></p>

<p>
  <strong>Material:</strong>
  <%= @supply2.material %>
</p>

<p>
  <strong>Location:</strong>
  <%= @supply2.location %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @supply2.contact %>
</p>

<p>
  <strong>Info:</strong>
  <%= @supply2.info %>
</p>

<%= link_to 'Edit', edit_supply2_path(@supply2) %> |
<%= link_to 'Back', supply2s_path %>
