
<p id="notice"><%= notice %></p>

<h1>Location Conditions</h1>
<p> This section is for people who are unaware of the extent of the damage caused to specifc areas of Chennai. If you are in an affected /unaffected area please upload an image of the area and specify the condition of the roads to keep people informed of the logistics situation so they can be prepared. We also need frequent updates.</p>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Location (Please specify landmark /area)</th>
    <th class="center">Current Condition</th>
    <th class="center">Image</th>
    <th class="center">Diversion</th>
    <th class="center">Action</th>
  </tr>
  <thead>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.location %></td>
        <td><%= post.description %></td>
        <td><%= link_to image_tag(post.image.url(:thumb)), post %></td>
        <td><%= post.diversion %></td>
        <td>
        <li><%= link_to "Update",edit_post_path(post), class: "btn btn-link" %></li>
        <li><%= link_to "Delete",post, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %></li>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Location', new_post_path, class: "btn btn-link" %>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>