<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @fuel.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @fuel.time %>
</p>

<p>
  <strong>Supply:</strong>
  <%= @fuel.supply %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fuel.date %>
</p>

<%= link_to 'Edit', edit_fuel_path(@fuel) %> |
<%= link_to 'Back', fuels_path %>
